.players-container{
    display: flex;
}
.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 80%;
    border-right: 1px solid gold;
}
.all-players ul li{
    border: 1px silid gold;
}